h5 {
  padding: 1rem 0;
}

.todoList {
  width: 50vw;
  margin: 1rem auto;
  color: #494c6b;
  background: #fff;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
}

.single_todo {
  border: 0.5px solid #e3e4f1;
}
