.App {
  text-align: center;
  background: linear-gradient(135deg, rgba(85, 150, 255, 0.6), rgba(172,45, 253, 0.6)), url('./assets/header.png');
  background-position: center;
  height:50vh;
  width: 100vw;
}


